body {
  margin: 0;
  padding-bottom: 20px;
}

.formContainer {
  display: flex;
  justify-content: center;
  background-image: url(./bg.jpg);
  background-size: cover;
  position: fixed;
  width: 100%;
}

.inputContainer {
  display: flex;
  justify-content: center;
  background-color: #fff;
  margin: 12px 0;
  padding: 6px 0;
  border-radius: 4px;
  overflow: hidden;
}

.input {
  border: none;
  outline: none;
  width: 400px;
  height: 40px;
  padding: 0;
}

.btn {
  border: none;
  background-color: transparent;
  padding: 0 10px;
}
@media screen and (max-width: 768px) {
  .input {
    width: 340px;
  }
}
@media screen and (max-width: 375px) {
  .input {
    width: 220px;
  }
}
