li {
  list-style-type: none;
}

.imageList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 10px;
  margin: 0;
  padding-top: 65px;
}

.listItem {
  max-width: 300px;
  max-height: 200px;
  border-radius: 4px;
  overflow: hidden;
}
